<div class="post-container" *ngFor="let post of posts">
  <div class="user-info">
    <button class="user-info-btn">
      <img src="Unknown_person.jpg" class="user-img" alt="profile" />
      user01
    </button>
    <hr class="separator" />
  </div>
  <p class="content">Angular Studies about how to...</p>

  <div class="info">
    <div class="info-text">
      <p class="text">Subject</p>
      <p class="result">Angular</p>
    </div>
    <div class="info-text">
      <p class="text">Duration</p>
      <p class="result">60 min</p>
    </div>
  </div>
  <p class="date">09 Jul 2024, 19:57</p>
</div>
