p {
  margin: 0;
}

.post-container {
  background: #d6d3d1;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.user-info-btn {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.user-img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 500px;
  margin: 5px;
  margin-right: 10px;
}
p.content {
  margin: 0.5rem;
  margin-left: 2rem;
  font-size: 1.2rem;
}

hr.separator {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.info {
  display: flex;

  width: 40%;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-left: 2.5rem;
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.text {
  font: inherit;
  color: #696969;
  font-size: 0.8rem;
}

p.date {
  color: #696969;
  margin-top: 0.8rem;
  margin-left: 2rem;
}
